body, html {
  background-color: #e4ebf1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: SegoeIcons;
  src:url("../Assets/Segoe_Fluent_Icons.ttf");
}

h1 {
  color: #6e7f8d;
  position: fixed;
  top: 30px;
  font-weight: 200;
  font-size: 30pt;
}

span {
  font-size: 22pt;
  color: #6e7f8d;
  font-family: SegoeIcons;
  font-weight: 200;
}

.container {
  position: fixed;
  left: 0;
  top: 150px;
  height: 65%;
  width: 100%;
  background-color: #e4ebf1;
}

#p1 {
  position: relative;
  top: 20px;
  font-size: 16pt;
  color: #6e7f8d;
  width: 70%;
  right: -100px;
  text-align: right;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

#p2 {
  position: relative;
  top: 20px;
  font-size: 16pt;
  color: #6e7f8d;
  width: 70%;
  left: 10px;
  text-align: left;
  font-weight: 300;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

img {
  position: relative;
  font-size: 16pt;
  color: #6e7f8d;
  width: 160px;
  left: 10px;
  text-align: right;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  background-color: #cdd5db;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

#btn {
  position: fixed;
  color: #6e7f8d;
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: 45px;
  transform: translate(-50%, 0%);
  font-family: SegoeIcons;
  font-size: 24pt;
  background-color: #e4ebf1;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  transition-duration: 0.5s;
}

#loader {
  position: fixed;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  left: 38%;
  bottom: 42px;
  transform: translate(-50%, 0%);
  display: inline-block;
  visibility: hidden;
  border-top: 3px solid #6e7f8d;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}